.modal-overlay-addCriminal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .modal-content-addCriminal {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    max-width: 100%;
    height: 560px;
  }
  .officer-content{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
  }
  .officer-form{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 20px;
  }
  .officer-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* gap: 20px; */
  }

  .officer-header h1{
    color: #2d3482 ;
  }
  .officer-label{
    display: block;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 5px;
    max-width:350px ;
    padding: 5px;
    
 
   
  }
  .officer-form .gender{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 5px;
    max-width:350px ;
 
   
  }

  .gender-radio{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 15px;
    max-width:350px ;
    
  }

  .officer-label p{
    color:#2d3482 ;
    font-size: 18px;
    font-weight: 500;
  }


  .officer-label input{
    height: 30px;
    width: 70%;
  }

  .officer-modal-close{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    background-color: white;
    color:#2d3482 ;
   
  }
  .close-icon{
    height: 20px;
    width: 20px;
  }
  .add-btn{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
  }

  .wanted{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    
    gap: 0px;
    padding: 0;
    
  }
  .wanted .officer-input-checkbox{
    gap: 0px;
  }
  .officer-label .wanted  input{
    width: 20%;
  }