* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

  }
  body {
    background-color: whitesmoke;
   
  }
  .unread-count{
         /* position: absolute; */
           background-color: red;
              border-radius: 50%;
              color: white;
              margin-bottom: 50px;
              margin-left: 20px;
              padding: 2px 5px;
              font-size: 12px;
             
  }
  
  .header {
    /* background-color: #fff0f7; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    margin: 0;
    background-color:#2d3482;
    /* transition: all 0.5s; */
    /* z-index: 990; */
    width: 100%;
    height: 415px;
    /* box-sizing: border-box; */
    
    /* box-shadow: 0px 1px 1px 0px rgb(135, 125, 125); */
  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* box-sizing: border-box; */
    width: 100%;
    height:100%;
    /* margin-top: 5px;
    padding: 10px; */
   
  }
  
  .header .logo-sn{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    /* width: 35%; */
    height: 100%;
    gap:10px;
  }
    .nepal-police{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 450px;
  }
  .nepal-police .img-container{
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
  }
 .nepal-police .img-container .sn-logo-nepal-police {
    display: flex;
    justify-content: center;
    align-self: center;
   width: 101%;
   height: 101%;
   object-fit: cover;
    
  }
  .header .sn-logo {
    /* display: flex;
    justify-content: flex-start;
   align-self: center;
    max-width: 200px;
    max-height: 150px; */
    
  }
  .handshake-icon{
    width:450px;
  }
  .handshake-icon .handshake{
   color: white;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  

  
  .suraksit-nepal{
    display: flex;
    justify-content: center;
    align-self: center;
    width:450px;
  }
  .suraksit-nepal .sn-logo{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 250%;
    height: 200%;
    padding: 10px;
  }

  .header .navbar-container{
    position: relative;
    margin: 0px !important;
    padding: 0px;
    

  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    z-index: 1;
  
   
  }

  .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-right: 15%;
    padding-left: 15%;
    /* gap: 20px; */
  }
  
  .navbar li,
  .navbar li:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0px 15px; */
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 500;
    color: black;
    white-space: wrap;
    border-radius: none !important;
    /* transition: 0.3s; */
  }
  
  .nav-item .nav-link {
    color: white;
    text-transform: uppercase;
    font-family: var(--font-primary);
    font-weight: 550;
    font-size: 20px;
    margin:0  5px;
    /* height: 100%; */
  }
  .nav-item  .notification .nav-link {
    color: white;
    
    text-transform: uppercase;
    font-family: var(--font-primary);
    font-weight: 550;
    font-size: 20px;
    margin:50px  5px;
    /* height: 100%; */
  }
   button {
    /* display: inline-block; */
    color: #2d3482;
   
   
    border-radius: none !important;
    font-size: 1rem;
    cursor: pointer;
    
}

  .nav-item .nav-link:hover {
    color: #003b78 !important;
   background-color: whitesmoke;
    /* text-decoration: underline; */
    font-family: var(--font-secondary);
    font-size: 20px;
    border-radius: none !important;
  }
  .nav-item .nav-link:active {
    color: #003b78!important;
    font-family: var(--font-secondary);
    font-size: 20px;
    border-radius: none !important;
    /* background-color: white; */

  }
  .nav-link:focus {
    /* color: #003b78 !important  ; */
    text-decoration: underline;
    font-family: var(--font-primary);
    font-weight: 550;
    font-size: 20px !important;
  }
  
  /* header button */
  /* .nav-button .btn {
    background-color: red;
    color: #003b78;
    font-weight: bold;
    font-size: 20px;
    
    margin-bottom: 10px;
    padding: 25px, 25px;
    margin-right: 50px;
    width: max-content;
    height: fit-content;
  } */
  .btn a:hover {
    text-decoration: underline;
    background-color: rgb(100, 100, 13);
    color: #003b78;
  }
  .active-tabs{
    background-color: whitesmoke;
    color: #003b78 !important;
   
  }
  
  .content{
    display: none;
  }

  .active-content{
    display: block;
  }