* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

  }
  body {
    background-color: whitesmoke;
    
   
  }
  
  .header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    margin: 0;
    background-color:#2d3482;
    transition: all 0.5s;
    /* z-index: 990; */
    width: 100%;
    height: 275px;
    display: flex;
    box-sizing: border-box;
    
    box-shadow: 0px 1px 1px 0px rgb(135, 125, 125);
  }

  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    margin-top: 5px;
    padding: 10px;
   
  }
  
  .header .logo-sn{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 35%;
    height: 50%;
  }
  .header .sn-logo-nepal-police {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    padding: 10px;
   margin-left: 20px;
    max-width: 35%;
    max-height: 50%;
  }
  .header .sn-logo {
    /* display: flex;
    justify-content: flex-start;
   align-self: center;
    max-width: 200px;
    max-height: 150px; */
    display: flex;
    justify-content: flex-start;
    max-width: 35%;
    max-height: 50%;
    margin: 0;
    padding: 10px;
    margin-left: 10%;
  }

  .navbar-container{
    position: relative;
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    z-index: 1;
    height: 60px;
  }
  .navbar ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin-right: 15%;
    padding-left: 15%;
  }
  
  .navbar li,
  .navbar li:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 500;
    color: black;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .nav-item .nav-link {
    color: white;
    text-transform: uppercase;
    font-family: var(--font-primary);
    font-weight: 550;
    font-size: 20px;
  }
  .nav-item .nav-link:hover {
    color: white !important;
    text-decoration: underline;
    font-family: var(--font-secondary);
    font-size: 20px;
  }
  .nav-item .nav-link:active {
    color: white!important;
    font-family: var(--font-secondary);
    font-size: 20px;
  }
  .nav-link:focus {
    /* color: #003b78 !important  ; */
    text-decoration: underline;
    font-family: var(--font-primary);
    font-weight: 550;
    font-size: 20px !important;
  }
  
  /* header button */
  .nav-button .btn {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 25px, 25px;
    margin-right: 50px;
    width: max-content;
    height: fit-content;
  }
  .btn a:hover {
    text-decoration: underline;
    background-color: rgb(100, 100, 13);
    color: white;
  }
  .active-tabs{
    background-color: #003b78;
    color: white;
  }
  
  .content{
    display: none;
  }

  .active-content{
    display: block;
  }